

.explore-menu-heading {
  font-family: 'Rubik Bubbles';
  font-size: clamp(36px, 8vw, 100px);
  box-shadow: 5px 5px 5px 5px #9aca41e0;
  color: rgb(177, 210, 11);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  width: clamp(280px, 90%, 1190px);
  margin-bottom: 20px;
}

.explore-menu-text {
  max-width: 60%;
  color: #7d1414;
  margin-bottom: 40px;
  font-size: 39px;
}

/* Circular images with shadow */
.explore-menu-img {
  border-radius: 50%;
  box-shadow: 0 0 15px #e96161f3;
  width: 100%;
  height: auto;
  max-width: 300px; /* Adjust max size */
  aspect-ratio: 1 / 1; /* keep it square */
  object-fit: cover;
  display: block;
  margin: 0 auto; /* center inside column */
}

.explore-menu-list-item {
  margin-top: 10px;
  font-size: 2.1rem; /* or 22px */
  font-weight: 500;
}

.explore-menu hr{
  margin-top: 10px;
  height:2px;
  background-color:#8b7e7ada;
  border:none;
}