

.header {
 width: 96vw;
  height: 60vh;
  background: url('/header_img.png') no-repeat center center;
  background-size: cover;
  position: relative;
  box-shadow: 0 8px 25px rgba(155, 50, 50, 0.6);
  border-radius: 30px;
  padding: 2rem; /* space for small screens */
  display: flex;
  align-items: center;
}

.header-contents {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: fadeIn 2s ease-in;
  color: #f44d10;
}

.header-contents h1 {
 font-size: clamp(3rem, 7vw, 5rem); /* responsive font */
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.header-contents p {
  font-size: clamp(1rem, 2.5vw, 1.8rem);
  line-height: 1.6;
  max-width: 90%;
  margin: 0 auto;
}

.btn-view-menu {
  width: auto;
  padding: 0.75rem 1.5rem;
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-weight: 600;
  color: white;
  background-color: #c4ea47da;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(121, 175, 131, 0.7);
  margin: 1rem auto 0 auto;
  display: inline-block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-view-menu:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(121, 175, 131, 0.8);
}


