.food-item-rating p{
    font-size: 30px;
    font-weight: 800;
    color:rgb(244, 104, 18);
    margin-top: 4px;
}

.food-item-desc{
    font-size:20px;
    font-weight: 600;
    color:#323030;
}

.food-item-price{
    font-size:25px;
    font-weight: 700;
    
}

.food-item{
    width:100%;
    border-radius:15px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.1);
    transition:0.4s;
    animation:fadeIn 1s ;    
}
.food-item-info{
    padding:20px;
}